<div class="cube">
    <img class="cube"
        src="{{productsDB.imageUrl}}">
    <p class="name">{{productsDB.name}}</p>
    <p><span>Difficulty level:</span> {{productsDB.difficultyLevel}}</p>
    <a class="btn" href="/details/{{productsDB.id}}">Details</a>
</div>